.section {
}

.buttons__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.button {
  background-color: var(--background);
  color: var(--text);

  border: none;
  border-radius: 8px;

  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  width: 100%;

  font-size: 1rem;
  font-weight: 500;

  &_accent {
    background-color: var(--accent);
    color: var(--background);
  }
}
