.header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 2.5rem;
  font-weight: 700;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;

  backdrop-filter: blur(16px);
  background: rgba(250, 253, 255, 0.2);
}

.cart {
  width: 2rem;
  height: 2rem;
  border-radius: 8px;
  background: var(--accent);

  display: flex;
  align-items: center;
  justify-content: center;
}
